:root {
    --bg-dark: hsl(0, 0%, 0%);
    --bg-medium: hsl(0 0 10);
    --bg-light: hsl(0 0 15);
    --text-main: hsl(0 0 95);
    --text-secondary: hsl(0 0 70);
    --border: hsl(0 0 30);
    --border-highlight: hsl(0 0 70);

    font-family: "Calibri", sans-serif;
    font-size: 32px;
    color: var(--text-main);
}

body {
    background-color: var(--bg-dark);
    margin: 0;
    padding: 0;
}


a {
    color: var(--text-main);
    text-decoration: none;
    font-size: 1rem;
    border-radius: 32px;
}

a:hover {
    background-color: var(--bg-light);
}


nav {
    background: linear-gradient(0deg, var(--bg-medium) 75%, var(--bg-light)) padding-box,
                linear-gradient(0deg, var(--border) 75%, var(--border-highlight)) border-box;
    border: 1px solid transparent;
    
    margin: 32px auto;
    width: fit-content;

    height: 1rem;
    border-radius: 3rem;
    display: flex;
    padding: 1rem;
    gap: 1rem;
}

.main-container {
    /* background-color: var(--bg-medium); */
    background: linear-gradient(0deg, var(--bg-medium) 90%, var(--bg-light)) padding-box,
                linear-gradient(0deg, var(--border) 90%, var(--border-highlight)) border-box;
    border: 1px solid transparent;
    border-radius: 2rem;

    padding : 2rem;
    margin: 1rem auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0px;
}
 
.secondary-container {
    /* background: linear-gradient(0deg, var(--bg-medium) 50%, var(--bg-light)var(--bg-light)) padding-box,
                linear-gradient(0deg, var(--border), var(--border-highlight)) border-box;
    border: 1px solid transparent;
     */
    background-color: var(--bg-light);
    border: 1px solid var(--border);

    border-radius: 2rem;
    padding : 0.5rem 1rem;
}

input[type="text"], input[type="password"] {
    background-color: var(--bg-medium);
    border: 1px solid var(--border);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    color: var(--text-main);
}

input[type="submit"], button {
    background-color: var(--bg-medium);
    border: 1px solid var(--border);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    color: var(--text-main);
    cursor: pointer;
}

input[type="submit"]:hover, button:hover {
    background-color: var(--bg-light);
}

input[type="submit"]{
    width: 100%;
}

h1 {
    margin: 0px;
}

h3 {
    margin: 0px;
}

#login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: fit-content;
}

.login-input {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    gap: 0.25rem;

}

#shop-grid {
    width: 80%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    gap: 1rem;
}

#shop-cell {
    width: 100px;
}